node_modules/
dist/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/.idea/
*.iml
*.keystore
!debug.keystore

.DS_Store
